@page "/cita"

<PageTitle>Cita</PageTitle>

<div class="content-list-date">
    <List>

        <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="12:00 pm"
            Disponible="12 de 16 disponibles"     
            />

        
        <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="1:00 pm"
            Disponible="12 de 16 disponibles"     
            />

        <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="2:00 pm"
            Disponible="12 de 16 disponibles"     
            />

           <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="3:00 pm"
            Disponible="12 de 16 disponibles"     
            />

           <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="4:00 pm"
            Disponible="12 de 16 disponibles"     
            />

               <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="5:00 pm"
            Disponible="12 de 16 disponibles"     
            />

            <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="6:00 pm"
            Disponible="12 de 16 disponibles"     
            />

            <ItemList 
            Titulo="Sesión del Gimnasio" 
            Instructor="Marco Urbina" 
            ImgInstructor="./images/person-circle.svg" 
            Hora="7:00 pm"
            Disponible="12 de 16 disponibles"     
            />

    </List>

</div>







@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
